[app_servers]
app1 ansible_host="{{lookup('ansible.builtin.file', 'project/terraform/data/ip_0')}}" # Enter path to terraform/data folder
app2 ansible_host="{{lookup('ansible.builtin.file', 'project/terraform/data/ip_1')}}" # Enter path to terraform/data folder